/* ==========================================================================
   Color Palette & General Styles
   ========================================================================== */
   :root {
    --primary-color: #D83F87; /* Pinkish red */
    --secondary-color: #2A1B3D; /* Dark purple */
    --accent-color: #44318D; /* Blueish purple */
    --highlight-color: #E98074; /* Soft orange */
    --text-color: #A4B3B6; /* Light gray */
    --background-color: #F8F8F8; /* Cotton white */
    --button-hover-color: #068ccf; /* Bright blue */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.8;
}

/* ==========================================================================
   Header Section
   ========================================================================== */
header {
    background-image: url('header_img.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    padding: 80px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

header .header-content {
    position: relative;
    z-index: 2;
    text-align: left;
    color: white;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: var(--primary-color);
}

header p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

/* ==========================================================================
   Personal Details
   ========================================================================== */
.personal-details {
    font-size: 1rem;
    line-height: 1.8;
}

/* ==========================================================================
   Navigation Bar
   ========================================================================== */
/* General styles for the navbar */
nav {
    background-color: var(--primary-color);
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

nav a:hover {
    background-color: var(--highlight-color);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

/* Hide the navigation menu on small screens */
#nav-list {
    display: flex;
    justify-content: center;
}

#burger-icon {
    display: none;
    cursor: pointer;
}

/* Mobile view */
@media (max-width: 1000px) {
    /* Hide the menu on mobile */
    #nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--primary-color);
        position: absolute;
        top: 60px;
        left: 0;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        padding: 15px 0;
        border-radius: 10px;
    }

    /* Show the hamburger icon */
    #burger-icon {
        display: block;
        color: white;
        font-size: 2rem;
    }

    /* When the menu is active, show the links */
    #nav-list.active {
        display: flex;
    }

    /* Style the links */
    #nav-list li {
        margin: 15px 0;
        text-align: center;
    }

    #nav-list a {
        font-size: 1.5rem;
        padding: 10px;
    }

    /* Add hover effect for the links in mobile view */
    #nav-list a:hover {
        background-color: var(--highlight-color);
    }
}


/* ==========================================================================
   Section Titles
   ========================================================================== */
.Heading-two {
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.Heading-one {
    color: var(--accent-color);
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* ==========================================================================
   About Section
   ========================================================================== */
#about {
    background-color: var(--secondary-color);
    color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin: 20PX;
}

/* ==========================================================================
   Projects Section & Cards
   ========================================================================== */
#projects {
    background-color: var(--background-color);
    color: white;
    padding: 50px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(200px, auto);
}

.project-card {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.project-card h3 {
    color: var(--accent-color);
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.project-card p {
    font-size: 1rem;
    margin-bottom: 15px;
    line-height: 1.6;
    flex-grow: 1;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

/* ==========================================================================
   Research Section
   ========================================================================== */
#research {
    background-color: var(--background-color);
    color: white;
    padding: 50px;
}

.research-card {
    background-color: var(--accent-color);
    color: white;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.research-card h3 {
    color: var(--background-color);
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.research-card p {
    font-size: 1rem;
    margin-bottom: 15px;
    line-height: 1.6;
}

.research-card a {
    color: var(--button-hover-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.research-card a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.research-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

/* ==========================================================================
   Skills Section
   ========================================================================== */
#skills {
    background-color: var(--highlight-color);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin: 20PX;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.skills-grid span {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.skills-grid span:hover {
    background-color: var(--primary-color);
    transform: scale(1.05);
}

/* ==========================================================================
   Contact Section
   ========================================================================== */
#contact {
    background-color: var(--accent-color);
    color: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;
}

#contact h2 {
    color: var(--highlight-color);
    font-size: 2rem;
    margin-bottom: 20px;
}

#contact p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

#contact a {
    color: var(--highlight-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

#contact a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

/* ==========================================================================
   Footer Section
   ========================================================================== */
footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

/* ==========================================================================
   Contact Button
   ========================================================================== */
.contact-button {
    background-color: var(--highlight-color);
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
}

.contact-button:hover {
    background-color: var(--button-hover-color);
    transform: scale(1.05);
}

/* ==========================================================================
   Go Up Button
   ========================================================================== */
#goUpBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--button-hover-color);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 20%;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#goUpBtn:hover {
    background-color: var(--highlight-color);
    transform: scale(1.1);
}

/* ==========================================================================
   Responsive Media Queries
   ========================================================================== */

/* Tablets */
@media (max-width: 1024px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 10px 0;
    }
    
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #contact {
        margin-right: 50px;
        margin-left: 50px;
    }

    #about, #skills {
        margin: 20px;
    }
}

/* Phones */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 50px 20px;
    }

    header .header-content {
        margin-bottom: 20px;
    }

    nav ul {
        flex-direction: column;
    }
    
    .projects-container {
        grid-template-columns: 1fr;
    }
    
    #contact {
        margin: 20px;
        padding: 30px;
    }

    .skills-grid {
        flex-direction: column;
        align-items: center;
    }
}
/* Phones */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 50px 20px;
    }

    header .header-content {
        margin-bottom: 20px;
    }

    nav ul {
        flex-direction: column;
    }
    
    .projects-container {
        grid-template-columns: 1fr;
    }
    
    #contact {
        margin: 20px;
        padding: 30px;
    }

    .skills-grid {
        flex-direction: column;
        align-items: center;
    }
    
    /* Reduce font sizes on smaller screens */
    body {
        font-size: 0.8rem;
    }
    
    header h1 {
        font-size: 1.8rem;
    }
    
    header p,
    .personal-details,
    nav a,
    #contact p,
    .project-card p,
    .research-card p {
        font-size: 0.8rem;
    }
    
    .Heading-two,
    .Heading-one {
        font-size: 1.6rem;
    }

   h3 {
        font-size: 1.2rem;
    }
    
    nav a {
        font-size: 0.8rem;
    }
}

/* Mobile devices - Android/Phones */
@media (max-width: 768px) {
    header {
        background-image: url('header_img_mobile.jpg');  /* Mobile-specific background image */
        background-size: cover;  /* Adjust the background size */
        background-position: center center;  /* Center the image */
        padding: 50px 20px;  /* Adjust padding for mobile */
    }
}
.project-card h3, .research-card h3{
    font-size: 1rem;
}
